/*
* { outline: 1px solid rgba(255, 0, 0); }

* * { outline: 1px solid rgba(0, 255, 0); }

* * * { outline: 1px solid rgba(0, 0, 255); }

* * * * { outline: 1px solid rgba(255, 0, 255); }

* * * * * { outline: 1px solid rgba(0, 255, 255); }

* * * * * * { outline: 1px solid rgba(255, 255, 0); }
*/



html {
    scroll-behavior: smooth;
  }

img {
    max-width: 50%;
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-x: hidden;
}

body {
    position:relative;
    margin: 0;
    text-align: center;
    background: url("./images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

#dark::after {
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background:rgba(0, 0, 0, 0.9);
}

#light::after{
  position:fixed;
  content:"";
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-1;
  background:rgba(255, 255, 255, 0.5);
}

p {
    font-size: 1.2rem;
}

h1 {
    font-weight: unset;
    margin: 0;
}

.react-icons {
    vertical-align: middle;
    margin: 0 0 3.15px 2.9px;
    color: #636363;
}

.arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    animation: fadeIn 0.5s;
    transition: opacity 0.4s;
    background-color: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.88);
    opacity: 0.5;
}

.arrow svg {
    position: absolute;
    top: 15%;
    right: 15%;
}


/* Navbar */

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: none;
    z-index: 5;
}

.NavbarScrolled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.88);
    z-index: 5;
}

.crossIconButton {
    width: 100%;
    height: 4vh;
    margin: 0.5vh;
    cursor: pointer;
}

.crossIcon {
    margin-top: 6px;
}

.BsX {
    margin-top: 6px;
}

.BsXNavItem {
    width: 50%;
    height: 4vh;
    margin: 0.5vh;
    cursor: pointer;
    background-color: transparent;
}

#dark .crossIconButton {
    color: white;
}

#light .crossIconButton {
    color: black;
}

#light .BsXNavItem {
    color: black;
}

#dark .BsXNavItem {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.NavItem {
    text-decoration: none;
    padding: 1rem;
    display: block;
}

#dark .NavItem {
    color: white;
}

#light .NavItem {
    color: black;
    font-weight: bold;
}

#dark .NavbarScrolled {
    background-color: #1D1D1D;
}

#light .NavbarScrolled {
    background-color: #86A7A6;
    color: white;
}

#light .NavbarScrolled .NavItem {
    background-color: #86A7A6;
    color: white;
    font-weight: lighter;
}

.react-switch {
    margin-right: 2vh;
    color: black;
}

.Navbar *{
    overflow: unset;
}

.NavbarScrolled *{
    overflow: unset;
}

.NavigationScreen {
    position: fixed;
    left: -100vw;
    z-index: 6;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #181818;
}
.NavigationScreenItem {
    display: flex;
    text-decoration: none;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    align-items: left;
    color: white;
    margin: 2vh 0;
}

.NavigationScreen nav {
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}

.NavList {
    display: block;
    padding: 2vh 5vh;
}

.NavigationScreenCross {
    color: white;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 10px
}

.BsX {
    margin-left: -8px;
    margin-top: -5px;
    cursor: pointer;
}

/* Home section */

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
}

#dark #home {
    color: white;
}

#light #home {
    color: black;
    font-weight: bold;
}


/*

#home canvas {
    animation-name: fade-in;
    animation-duration: 3s; 

}

#home h1 {
    animation-name: fade-in;
    animation-duration: 3s;
}

*/

.HomeTitle{
    text-align: left;
    position: fixed;
    top: 35vh;
    font-size: calc(30px + ((600vw - 320px) / 580));
    left: calc(10vw);
    z-index: 2;
    color: #eff876;
    font-weight: 900;
}

#light .HomeTitle {
    color: #2e6664;
}

.Home3D {
    position:fixed;
    left: 50vw;
    z-index: 1;
    height: 120vw;
    width: 120vw;
}

.Home3D2 {
    position:fixed;
    left: 10vw;
    top: 80vh;
    z-index: 1;
    height: 40vw;
    width: 40vw;
    overflow: hidden;
}

.Home3D3 {
    position:fixed;
    left: 0vw;
    top: 10vh;
    z-index: 1;
    height: 10vw;
    width: 10vw;
    overflow: hidden;
}


/* About section */

#about {
    padding: 70px 4vh 4vh 4vh;
    text-align: left;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.88);
}

#dark #about {
    background-color: #1d1d1d;
    color: white;
}

#light #about {
    background-color: #86A7A6;
    color: white;
}

.profilepic {
    float: right;
    margin: 3vh 2vh 2vh 4vh;
    max-height: 28vh;
    flex: 1;
    resize:both;
    border-radius: 5px;
}

#about h1, #about h3 {
    max-width: 70vh;
    margin: auto;
    text-align: justify;
    font-weight: unset;
    padding: 2vh 0;
}

.Foreword {
    margin: auto;
    text-align: justify;
    max-width: 70vh;
}

.Aboutmediv {
    margin: auto;
    text-align: justify;
    max-width: 70vh;
}

.Aboutme {
    margin: auto;
    text-align: justify;
    max-width: 70vh;
    padding-bottom: 7vh;
}


/* Projects section */

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#dark .layer1 {
    background-image: url('./images/layer2_2D.svg');
}

#dark .layer2 {
    background-image: url('./images/layer1_2D.svg');
}

#light .layer1 {
    background-image: url('./images/layer1_2L.svg');
}

#light .layer2 {
    background-image: url('./images/layer2_2L.svg');
}

#projects {
    padding: 70px 4vh 4vh 4vh;
    text-align: left;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /*box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.88) */
}

#dark #projects {
    background-color: #282A3A;
    color: white;
}

#light #projects {
    background-color: #324B4B;
    color: white;
}

.ProjectList {
    margin: 5vh auto 15vh auto;
    text-align: justify;
    max-width: 140vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#projects h1 {
    margin: 5vh auto 0 auto;
    padding-bottom: 4vh;
    padding-left: 20px;
    text-align:justify;
    max-width: 140vh;
}

#projects p {
    margin: auto;
    text-align: justify;
    max-width: 110vh;
    padding: 4vh 0;
}

#portfolioitem {
    background: url("./images/bg.jpg");
    background-size:100%;
    color: black;
    font-weight: bold;
}

#tapioitem {
    background: url("./images/tapio.PNG");
    background-size: 100%;
}

#filmitem {
    background: url("./images/FILM.jpg");
    background-size: 100%;
}
  
#RLitem {
    background: url("./images/RLAI2.PNG");
    background-size: 100%;
}

#kallioitem {
    background: url("./images/kalliokierrokselle2.png");
    background-size: 100%;
    color: black;
    font-weight: bold;
    opacity: 0.9;
}

#caditem {
    background: url("./images/3D/3D2.jpg");
    background-size: 100%;
    color: black;
    font-weight: bold;
}

#kideitem {
    background: url("./images/KIDE/KBBar.png");
    background-size:100%;
}

.Iconsdiv {
    text-align: left;
}

.Socialicon {
    color: white;
    margin: 0.8rem 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Projects 3 */

.ProjectList a {
    margin: 10px;
}

.ProjectListItem {
    height: calc(35vh);
    width: 30vw;
    object-fit: cover;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    word-break: keep-all;
    text-align: center;
    vertical-align: middle;
    font-size: 4vh;
    margin: 5px;
    max-width: 400px;
    min-width: 300px;
    outline: rgb(170, 170, 170);
    outline-style: solid;
    outline-width: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color:#181b29;
}

#light .ProjectListItem {
    background-color: #293d3d;
}

.carousel-item {
    padding: 10px;
    margin: 0 0 2vh 0;
}

#projects * {
    text-decoration: none;
}

.projectPic {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    padding: 10px;
}

#projects .ProjectListItemText p {
    padding: 1em;
    text-align: left;
}

/* Resume section */

#resume {
    padding: 70px 4vh 4vh 4vh;
    text-align: left;
    /*box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.88)*/
}

#dark #resume {
    background-color: #1d1d1d;
    color: white;
}

#light #resume {
    /* background-color: #D3FBD8; */
    background-color: #86A7A6;
    color: white;
}

#resume h3 {
    font-weight: unset;
    text-align: justify;
    max-width: 70vh;
    padding: 2vh 0 0 0;
    font-size: 2.5vh;
}

#resume h1 {
    margin: auto;
    text-align: justify;
}

.resumetime {
    font-size: 1.5vh;
    margin: 2vh 0 0 0;
}

#dark .resumetime {
    color: #b3b3b3;
}

#light .resumetime {
    color: #363636;
    font-weight: bold;
}

#dark .subtitle {
    margin-top: 0;
    padding-top: 0.5vh;
    margin-bottom: 1vh;
    color: #929ce9;
}

#light .subtitle {
    margin-top: 0;
    padding-top: 0.5vh;
    margin-bottom: 1vh;
    color: #133458;
    font-weight: bold;
}

.educationlist, .skillsList {
    list-style-position: inside;
    display: block;
}

.educationItem, .skill {
    padding-right: 1rem;
    margin-left: 2vh;
    margin-bottom: 0.2rem;
    list-style-type:disc;
    text-align: left;
}

.resumecolumns {
    padding: 0vh 0 2vh 0;
    text-align: center;
}

.resumediv {
    text-align: justify;
    max-width: 70vh;
    display: inline-block;
    padding: 0rem 1rem 1rem 1rem;
    vertical-align: middle;
}

#dark #secondresume {
    border-left: 2px white solid;
}

#light #secondresume {
    border-left: 2px white solid;
}


/* Project views */

.projectdiv {
    padding: 10vh 0;
    min-height:100vh;
}

.projectdiv * {
    margin: auto;
    text-align: justify;
    max-width: 70vh;
    font-weight: unset;
    padding: 2vh 0;

}

.projectdiv canvas {
    padding: unset;
}

#dark .projectdiv {
    background-color: #1d1d1d;
    color: white;
}

#light .projectdiv {
    background-color: #86A7A6;
    color: black;
    font-weight: bold;
}

.projectdiv h3 {
    font-size: 3vh;
}

.documentation_subtitle {
    font-size: 3vh;
    margin-top: 6vh;
    margin-bottom: 1vh;
    font-weight: bolder;
}

#dark .documentation_subtitle {
    color: #507691;
}

#light .documentation_subtitle {
    color: #2d4557;
}

#light .code {
    font-weight: lighter;
}

.code *{
    overflow-x: auto;
    overflow-y: hidden;
}

.STL_div {
    display: flex;
    justify-content: center;
    border-top: 1px solid;
    margin-top: 2vh;
}

.CAD_images {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: stretch;
    justify-content:center;
    object-fit: cover;

}

.standimg {
    height: unset;
    padding: 0;
    margin: 0;
    max-width:50%;
}

.standimg3 {
    height: unset;
    padding: 0;
    margin: 0;
    max-width:33.3%;
}

.KIDEimg {
    margin: 0.5vh 2vh 2vh 2vh;
    width: 30vh;
    height: auto;
}

.FILMimg {
    max-width: 92%;
    width: 50vh;
}

.link_in_text {
    color: rgb(93, 123, 255);
    text-decoration: none;
}

.backbuttondiv {
    width: 92vw;
}

.backbutton {
    background-color: #3D5B71;
    color: white;
    text-decoration: none;
    padding: 1vh 2vh;
    width: 92vw;
    max-width: unset;
    justify-items: left;
    border-radius: 1vh;
    /* box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.88); */
}

#light .backbutton {
    font-weight:normal;
}

/* Not found page */

.Notfound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#dark .Notfound {
    color: white;
}

#light .Notfound {
    color: black;
    font-weight: bold;
}

/* Scrollbars */

 ::-webkit-scrollbar-track
{
	background-color: #1D1D1D;
}

 ::-webkit-scrollbar
{
	width: 12px;
    height: 12px;
	background-color: rgb(19, 19, 19);
}

 ::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: rgb(65, 65, 65);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #282A3A;
    color: white;
    padding: 0 1em;
}

#light footer {
    background-color: #324B4B;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@media all and (max-width: 500px) {

    /* Navbar */
    


    .NavItem {
        padding: 2vh 3vw;
        
    }

    /* Home */
    #home {
        padding: 8vh 0vh 4vh 0vh;
    }

    .Home3D {
        align-self: start;
        pointer-events:none;
        top: -10vh;
        left: 20%;
        height: 240vw;
        width: 240vw;
        opacity: 0.6;
    }

    .HomeTitle {
        align-self: end;
        width: 80vw;
        padding-left: 0;
        text-align: left;
        top: 50vh;
        left: 50vw;
        font-size: 6.5vw;
        transform: translate(-50%, -50%);
        font-weight: 900;
    }

    canvas{
        overflow : scroll;
       }

    /* About */
    #about {
        padding: 8vh 4vh 4vh 4vh;
        border-radius: 4vh 4vh 0 0;
    }

    .profilepic {
        width: 100%;
        max-width: unset;
        max-height: unset;
        margin: 0;
        float: unset;
    }

    /* Projects */
    .ProjectList {
        margin: 5vh auto 5vh auto;
    }

    #projects {
        padding: 8vh 2vh 4vh 2vh;
    }

    #projects h1 {
        margin: 2vh auto 0 auto;
        padding-bottom: 0vh;
        text-align: justify;
        max-width: 110vh;
    }

    .ProjectListItem {
        height: 50vh;
        width:auto;
        margin: 10px 4px;
    }

    .ProjectList a {
        margin: 0px 10px;
    }

    .ProjectListItem p {
        font-size: 1.2rem;
    }

    .projectPic {
        height: 22.5vh;
    }

    /* Resume */
    #resume {
        padding: 8vh 4vh 4vh 4vh;
    }
    .educationItem, .skill {
        margin-left: 3vh;
    }

    #light #secondresume, #dark #secondresume {
        border: unset;
    }

    .resumediv {
        padding: 0;
    }


    /* Project views */
    .projectdiv p, .projectdiv h3, .projectdiv h1, .STL_div {
        width: 94vw;
        max-width: unset;
    }

    .projectdiv .documentation_subtitle {
        width: 94vw;
    }
    
    .code{
        width: 94vw;
        font-size: 2vh;
    }

    code {
        padding: 0;
    }

    .Iconsdiv {
        padding: 2vh 1vh 0 1vh;
    }

    .Socialicon {
        margin: 2vh 1em;
    }

    .STL_div {
        padding: 0;
    }

    .CAD_images {
        padding: 0 2vh;
    }


    /* Not found page */

    .Notfound {
        align-self: start;
    }

    .Notfound h1 {
        align-self: flex-end;
    }

}